@import "@styles/_variables.module.scss";
@import "@styles/_mixins.module.scss";
.container {
  @include flex_box_custom(center, center, 0px);
  margin: 65px 0px 15px;
}
.headline {
  width: 100%;
  height: 2px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.containerMiddleBox {
  @include flex_box_custom(center, center, 0px);
  flex-direction: column;
  width: 60%;
  padding: 0px 50px;
  line-height: 0px;
}
.des {
  text-transform: uppercase;
  font-size: 14px;
  color: $th_color;
}
.title {
  font-size: 24px;
  color: $primary;
}
